body{
    background-color: #339095ff;
     margin: 0;
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
}

.center-content {
    text-align: center;
}

h1{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
}

p{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
}

p{
    font-family: sans-serif;
    color: black;
}